.login-content {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Zilla Slab', serif;
    color: #2C3E50;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: #2C3E50;
}

.hr-lines:before {
    content:" ";
    display: block;
    height: 1px;
    width: 165px;
    position: absolute;
    background: #2C3E50;
    left: 16px;
    top: 305px;
}

.hr-lines:after {
    content:" ";
    display: block;
    height: 1px;
    width: 165px;
    position: absolute;
    background: #2C3E50;
    right: 16px;
    top: 305px;
}
  
mat-card {
    width: 400px;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    top: 15%;
}

:host ::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
    content: "";
}

mat-label {
    font-family: 'Poppins', sans-serif;
}

mat-form-field {
    width: 100%;
}

mat-icon {
    margin-right: 15px;
}

.showPass{
    background-color: transparent;
    border: none;
}

.button {
    width: 100%;
}